.game-board {
    height: 100%;
    width: 100%;
    background: url(clearing.jpg);
}

.test {
  height: 60px;
  width: 60px;
  background-color: red;
}

.grid {
    height: 100%;
    width: 100%;
    background-image:
      repeating-linear-gradient(#fff 0 1px, transparent 1px 100%),
      repeating-linear-gradient(90deg, #fff 0 1px, transparent 1px 100%);
    background-size: 50px 50px;
}