.game-board {
  height: 100%;
  width: 100%;
}

.test {
  height: 60px;
  width: 60px;
  background-color: red;
}

.grid {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image:
    repeating-linear-gradient(#fff 0 1px, transparent 1px 100%),
    repeating-linear-gradient(90deg, #fff 0 1px, transparent 1px 100%);
  background-size: 50px 50px;
}

.react-transform-wrapper {
  width: 100% !important;
  height: 100% !important;
  background-color: black;
}

.react-transform-component {
  width: 150% !important;
  height: 150% !important;
}

.add-pawn-button {
  position: absolute;
  top: 91%;
  left: 93%;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
