.draggable-app-region {
    flex: 1;
    -webkit-app-region: drag;
}

.drawer-header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    margin: 40px;
    border-radius: 100%;
    border: 2px solid #FFFFFF20;
}

.app-drawer {
    height: 100%;
}

.menu-bar-toolbar {
    background-color: #47596f;
}