.pawn {
    position: absolute;
    filter: drop-shadow(0 0 0.25rem black);
}

.npc-pawn {
    opacity: 0.85;
}

.absolute-full {
    position: absolute;
    height: 100%;
    width: 100%;
}

.pawn-background-color {
    background-color: navy;
    border-radius: 100%;
}

.pawn-image {
    opacity: 0.75;
    background: no-repeat center/90% url(./images/orc-head.png);
}

.pawn-image-cressida {
    border-radius: 100%;
    background: no-repeat center/110% url(./images/CressidaCropped.jpg);
}

.pawn-image-hal {
    border-radius: 100%;
    background: no-repeat center/110% url(./images/Hal_new.jpg);
}

.pawn-image-o {
    border-radius: 100%;
    background: no-repeat center/110% url(./images/OrfandrusCrop.jpg);
}

.pawn-image-nulf {
    border-radius: 100%;
    background: no-repeat center/110% url(./images/nulf.jpg);
}

.pawn-image-phil {
    border-radius: 100%;
    background: no-repeat center/110% url(./images/phil.jpg);
}

hr {
    border: none;
    border-top: 1px dotted #f00;
    color: #fff;
    background-color: #fff;
    height: 1px;
    width: 50%;
}